.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .auth-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: lavender;
  border: solid purple;
  
}


.profile{
  display: grid;
  grid-template-rows: 25% 25% 25%;
  height: 25%;
  background-color: lavender;
  border: solid purple;

}
.public{
  display: grid;
  grid-template-rows: 25% 25% 25%;
  height: 25%;
  background-color: lavender;
  border: solid purple;

}
.todo{
  display: grid;
  grid-template-rows: 25% 25% 25%;
  height: 25%;
  background-color: lavender;
  border: solid purple;

}

.login{
  /* display: grid;
  grid-template-rows: 25% 25% ; */
  /* height: 30%;
  background-color: lavender;
  border: solid purple;
} */ 

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color:aliceblue;
  border: solid purple;
}



.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: lightgreen;
}

.auth-container > h1 {
  font-size: 2em;
  margin: 24px;
  
}

.auth-container > p {
  margin: 16px;
  text-decoration: underline;
}

.auth-container > form {
  border: 1px solid purple;
  padding: 20px;
  border-radius: 5px;
  background-color:lavender;

  display: flex;
  flex-direction: column;
}

.auth-container > form > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.auth-container > form > button {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.todo-list {
  border: 1px solid purple;
  padding: 20px;
  border-radius: 5px;
  background-color:lavender;

  display: flex;
  flex-direction: column;
}

.todo {
  border: 1px solid purple;
  padding: 20px;
  border-radius: 5px;
  background-color:lavender;

  display: flex;
  flex-direction: column;
}

.public {
  height: 100vh;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.profile > h1 {
  margin: 8px;
  font-size: 2em;
  text-align: center;
}

.profile > h3 {
  margin: 16px 0;
  text-decoration: underline;
}

.profile > form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  border: 1px solid purple;
  background-color:lavender;
  padding: 16px;
  border-radius: 5px
}

.profile > form > input,
.profile > form > button {
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px
}
